{% extends "base.html" %}

{% block title %}About - Happy Tours{% endblock %}

{% block content %}
<h1>About Us</h1>
<p>This is the about page of our Happy Tours. Here's some information about us:</p>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Our Mission</h5>
                <p class="card-text">To create an amazing journey Experience for your next Global trip.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Our Vision</h5>
                <p class="card-text">To connect and inspire by learning various cultures.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}